<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>NBA Games Today</h1>
    <div id="nba_logo_grid">
        <img id="nba_logo" src="https://pngimg.com/uploads/nba/nba_PNG14.png" alt="">
    </div>
    <div id="grid">


        <% for (let o of output) { %>
            <div class="card">
                <div id="home_team">
                    <div class="team_image">
                        <img src="<%=renderImage(o['home_team'])%>" alt="">
                    </div>
                    <div class="score"><%=o['home_score']%></div>
                </div>
                <div id="away_team">
                    <div class="team_image">
                        <img src="<%=renderImage(o['away_team'])%>" alt="">
                    </div>                   
                    <div class="score"><%=o['away_score']%></div>
                    <div class="live">
                        <img src="/pictures/live_button.png" alt="">
                    </div> 
                </div>
            </div>
        <% } %> 
    </div>
    
</body>
</html>