.card {
    width: 300px;
    height: 200px;
    border: 3px solid lightblue;
    border-radius: 10px;
    margin: 10px;
    margin-top: 60px;
    display:flex;
    transition: background-color 0.15s, transform 0.15s;
}

.card:hover {
    transform: scale(1.1);
    background-color: rgb(0, 0, 0, 0.7);
}

#nba_logo_grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
}

#nba_logo {
    max-width: 100%;
    max-height: 100%;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
}

img {
    width: 150px;
    height: 200px;
}

.card:hover .team_image{
    opacity: 0;
    transition: 0.15s;
}

#home_team {
    position: relative;
    width: 50%;
    height: 100%;
}

#away_team {
    position: relative;
    width: 50%;
    height: 100%;
}

.score {
    position: absolute;
    margin-top: -150px;
    margin-left: 50px;
    opacity: 0;
    font-size: 4em;
}
.card:hover .score {
    opacity: 1;
    color: white;
    transition: 0.15s
}
